{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}


    {% block main %}
        <section id="index">
            <div>
                <p>Bienvenu sur </p>
                <h1>UltimateArena.gg</h1>
            </div>
            <div>
                <p>Rejoignez l'arène, devenez légendaire !</p>
            </div>
        </section>

    {% endblock %}

