{% extends 'base.html.twig' %}

{% block title %}Hello ResetPasswordController!{% endblock %}

{% block main %}
<section id="form">
    {{form_start(resetForm)}}
        {{form_widget(resetForm)}}
        <button>Envoyer</button>
    {{form_end(resetForm)}}
</section>
{% endblock %}
