{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block main %}
    <section id="form">
        {{form_start(registerform)}}
            <h2>Inscription</h2>
            {{form_widget(registerform)}}
            <button>S'enregistrer</button>
        {{form_end(registerform)}}
    </section>
{% endblock %}
