@use "../abstract/mixins";
@use "../abstract/variable" as var;

header {
    @include mixins.flex($justify: space-between);
    background-color: var.$primarycolor;
    height: 70px;
    padding: 0 5%;

    img {
        width: 70px;
    }

    nav {
        ul {
            @include mixins.flex();

            li {
                padding: 1rem 1.5rem;

                a {
                    color: var.$accentcolor;
                    font-size: 26px;
                    @include mixins.hover();
                }

                .login {
                    color: rgb(83, 104, 187);
                }

                .register {
                    color: rgb(121, 174, 41)
                }

                .logoff {
                    color: rgb(255, 0, 0);
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
   header {
        nav {
            ul {
                li {
                    padding: 0.5rem 1rem;
                    a {
                        font-size: 20px;
                    }
                }
            }
        }
   }
}